.header {
  background-color: $header-bg;

  &__wrapper {
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile {
      display: block;
      height: 74px;
    }
  }

  &__logo {
    &--img {
      width: 210px;
      height: 54px;

      @include for-mobile {
        width: 105px;
        height: 27px;
      }
    }
  }

  &__params {
    display: flex;
    gap: 10px;

    &--languages {
      width: 130px;
    }

    &--currency {
      width: 81px;
    }
  }

  &__select {
    width: 100%;
    height: 28px;
    padding: 0 4px;
    line-height: 28px;
    border: 1px solid $geyser;
    border-radius: 3px;
    background-color: $wild-sand;
    color: $dusty-gray;
    outline-color: $dusty-gray;

    &--wrapper {
      position: relative;

      &::after {
        content: "▼";
        font-size: 10px;
        line-height: 28px;
        color: $dusty-gray;
        right: 4px;
        position: absolute;
      }
    }
  }
}

