.header {
  background-color: $header-bg;

  &__wrapper {
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile {
      display: block;
      height: 74px;
    }
  }

  &__logo {
    &--img {
      width: 210px;
      height: 54px;

      @include for-mobile {
        width: 105px;
        height: 27px;
      }
    }
  }

  &__params {
    display: flex;
    gap: 10px;
    width: 221px;

    &--languages {
      width: 130px;
    }

    &--currency {
      width: 81px;
    }
  }

  &__select {
    &--languages {
      width: 130px;
    }

    &--currency {
      width: 81px;
    }

    &--icon {
      display: inline-block;
      width: 14px;
      height: 16px;
    }
  }
}

