@import "normalize";
@import "variables";
@import "mixins";
@import "select";
@import "header";
@import "main";
@import "footer";

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;

  @include for-mobile {
    font-size: 15px;
  }
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.additional--info-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.line {
  border-top: 1px solid $geyser;
  width: 100%;
}

input.error, select.error {
  &:focus-visible {
    color: red;
    border: 1px solid red;
    outline-color: red;
  };
}

input.valid, select.valid {
  &:focus-visible {
    color: green;
    border: 1px solid green;
    outline-color: green;
  }
}
