@import "billing";
@import "product";
@import "about";

.main {
  padding-top: 34px;

  &__wrapper {
    display: grid;
    grid-template-areas:
      'billing product'
      'billing about';
    column-gap: 22px;

    @include for-mobile {
      grid-template-areas:
        'product'
        'billing'
        'about'
      ;
      gap: 24px;
    }
  }
}
