.product {
  width: 100%;
  font-size: 14px;

  @include for-mobile {
    font-size: 12px;
  }

  &__columns {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    color: $gray-chateau;
    text-transform: uppercase;
  }

  &__column {
    height: 11px;
    line-height: 11px;
  }

  &__info {
    margin: 5px 0 6px;
    display: flex;
    justify-content: space-between;

    &__item {
      display: flex;
      gap: 20px;

      &--img {
        width: 49px;
      }

      &--name {
        font-weight: 500;
      }

      &--description {
        margin-top: 3px;
        font-size: 13px;
        color: $nevada;

        @include for-mobile {
          font-size: 11px;
        }
      }

      &--renewal {
        margin-top: 6px;

        & > a {
          color: $dodger-blue;
          text-decoration: none;
        }
      }
    }

    &__price {
      height: 16px;
      font-weight: 500;
      line-height: 16px;
      color: $mine-shaft;
    }
  }

  &__VAT {
    display: flex;
    justify-content: end;
    margin: 6px 0 8px;

    &--text {
      margin-left: 1px;
      font-size: 12px;
      line-height: 15px;

      @include for-mobile {
        font-size: 10px;
      }
    }
  }

  &__total-price {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $pistachio;
    display: flex;
    justify-content: end;

    @include for-mobile {
      font-size: 12px;
    }
  }

  &__about {
    margin-top: 17px;
    padding: 0 4px;
    font-size: 13px;
    line-height: 18px;
    color: $nevada;

    @include for-mobile {
      font-size: 11px;
    }
  }

  &__phone-info {
    display: flex;
    margin-top: 10px;

    &--img {
      width: 36px;
    }

    &--numbers {
      color: $nevada;
      font-weight: 400;
    }

    &--number {
      margin-left: 8px;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      text-decoration: none;
      color: $nevada;
    }

    @include for-mobile {
      font-size: 11px;
    }
  }

  &__certificates {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__certificate {
    margin-top: 30px;
    width: 112px;

    @include for-mobile {
      width: 70px;
    }
  }
}
